footer {
  margin-top: 10%;
    padding: 20px;
    text-align: center;
    color: white;
    background-image: url("https://i.imgur.com/e6IEu6w.jpg");
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #ebeff3;
  }
  
  .copywright {
    margin-top: 20px;
  }
  
  .social-links i {
    font-size: 2rem;
  }

  input, ::placeholder {
    max-width: 500px; 
    margin: 0 auto; 
    color: white;
  }

  textarea, ::placeholder {
    max-width: 500px; 
    margin: 0 auto; 
    color: white;
  }

  .white-text {
    color: white;
}

  button {
    margin-top: 4%;
  }

  .copywright{
margin: 0;
  }