<footer>
    <div class="container">
      <h1>Contacto</h1>
      <h4>
        Si deseas comunicarte conmigo, puedes dejar tu información y un mensaje más abajo. Te estaré respondiendo a la brevedad!</h4>
        <div *ngIf="displayForm">  
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input [(ngModel)]="footer.email" type="email" class="form-control white-text" id="email" name="email" placeholder="ejemplo: Jhondoe@gmail.com">
        </div>
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input [(ngModel)]="footer.nombre" type="text" class="form-control white-text"  id="name" name="name" placeholder="ejemplo: Jhon Doe">
        </div>
        <div class="form-group">
          <label for="subject">Mensaje:</label>
          <textarea [(ngModel)]="footer.mensaje" class="form-control white-text"  id="subject" name="subject" maxlength="2000" placeholder="¡Deja tu mensaje!"></textarea>
        </div>
        <button type="submit" (click)="createFooter()">Enviar</button>
    </div>
  
      <div class="social-links">
        <a href="https://github.com/SofiaInSilico"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/sofia-egana"><i class="fab fa-linkedin"></i></a>
      </div>
    <div *ngIf="autenticaticionService.isLoggedIn()">
        <h4>Formularios Enviados:</h4>
           <div *ngFor="let footer of footers">
              <h1>email: </h1><p>{{footer.email}}</p><br>
              <h1>nombre: </h1><p>{{footer.nombre}}</p><br>
              <h1>asunto: </h1><p>{{footer.mensaje}}</p>
           </div>
    </div>
    <p class="copywright">&copy; 2023 - Todos los derechos reservados</p>
  </div>
  </footer>
  