
#logHover {

  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/7guWgSq.jpg");
 }
  
  .form-login {

    border-radius: 10px;
    padding: 30px;
  }
  
  .form-login label {
    color: #fff;
  }
  
  .form-login input.form-control {
    color: #fff;
    background-color: rgba(223, 210, 210, 0.1);
    border: none;
  }
  
  .form-login button.btn-outline-light {
    color: #fff;
    border-color: #fff;
  }
  
  .form-login button.btn-outline-light:hover {
    background-color: rgba(250, 245, 245, 0.2);
  }
  