.gradient-custom {
    background-color: #1a1a1a;
    background-image: linear-gradient(to bottom right, #0964ec, #570bd3);
  }
  
  .form-login {
   /* background-color: rgba(240, 27, 27, 0.05); */
    border-radius: 10px;
    padding: 30px;
  }
  
  .form-login label {
    color: #fff;
  }
  
  .form-login input.form-control {
    color: #fff;
    background-color: rgba(223, 210, 210, 0.1);
    border: none;
  }
  
  .form-login button.btn-outline-light {
    color: #fff;
    border-color: #fff;
  }
  
  .form-login button.btn-outline-light:hover {
    background-color: rgba(250, 245, 245, 0.2);
  }
  
  .row {
    margin-left: 4%;
    margin-bottom: 0%;
    margin-top: 3%;
  }