<section  id="habilidades">
    <div class="container-text-center">
        <div *ngIf="cargando" class="overlay">
            <div class="spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        <div class="row row-cols-4">
            <div class="col-10">
                <h2>Herramientas</h2>
            </div>
            <div class="col-2">
                <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayForm = !displayForm"><i class="fa-solid fa-plus"></i></button>
                <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayUpdateForm = !displayUpdateForm"><i class="fa-solid fa-pen"></i></button>
                <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayDeleteForm = !displayDeleteForm"><i class="fa-solid fa-trash"></i></button>
              </div>
              <div class="col-12" *ngIf="displayForm">   
                <input [(ngModel)]="herramienta.nombreHerramienta" type="text" class="border border-success" class="rounded-pill" placeholder="descripcion de la herramienta"><br>
                <input [(ngModel)]="herramienta.urlImg" type="text" class="border border-success" class="rounded-pill" placeholder="url de la imagen de la herramienta"><br>
                <button type="button" class="btn btn-success btn-sm"  (click)="createHerramientas()" > Agregar</button>
            </div>

            <div *ngFor="let herramienta of herramientas" class="card" style="width: 18rem; height: max-content;">
              <img [src]="herramienta.urlImg" class="card-img-top text-white" alt="Img habilidad">
              <div class="card-body">
                <p class="card-text title text-white">{{herramienta.nombreHerramienta}}</p>
              </div>
            </div>

                <div *ngIf="displayUpdateForm">
                    <input [(ngModel)]="herramienta.nombreHerramienta" type="text" placeholder={{herramienta.nombreHerramienta}}>
                    <input [(ngModel)]="herramienta.urlImg" type="text" placeholder={{herramienta.urlImg}}>
                    <button type="button" class="btn btn-success btn" (click)="cargar(herramienta)"><i class="fa-solid fa-pen"></i></button>
                  </div>
                  <div *ngIf="displayDeleteForm">
                    <button type="button" class="btn btn-danger btn" (click)="deleteHerramientas(herramienta)"><i class="fa-solid fa-trash"></i></button>
                  </div>
            </div>
    </div>
    </section>